html,
body {
	width: 100%;
	height: 100%;
}

.navbar-brand {
	font-family: serif;
	font-weight: bold;
	font-size: 60px
}

.navbar {
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 24;
}

.navbar,
.navbar .container-fluid,
.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}

.navbar-brand img {
	width: 1em;
	margin-bottom: 5px;
	height: 1em;
	border-radius: 50%;
}

.nav-item {
	margin-left: 15px;
	position: relative;
	-webkit-transform: skewX(-25deg);
	-ms-transform: skewX(-25deg);
	transform: skewX(-25deg);
	padding: 0 5px;
}

.nav-item:hover {
	background: #00C6FF;
}

@media (max-width:992px) {
	.nav-item:hover {
		background: transparent
	}
}

.nav-link {
	text-transform: capitalize;
	-webkit-transform: skewX(25deg);
	-ms-transform: skewX(25deg);
	transform: skewX(25deg);
	letter-spacing: .1px;
	font-weight: 500
}

.navbar-nav .nav-item > .nav-link {
	color: #fff
}

.navbar-nav .nav-item > .nav-link:focus {
	color: #00C6FF
}

.navbar-nav .nav-item:hover > .nav-link {
	color: #fff
}

.hours {
	margin: 0 20px;
	padding: 15px 21px 15px 18px;
	position: relative;
	font-size: 17px;
	font-weight: 500;
	background: #00C6FF;
	-webkit-transform: skew(-25deg);
	-ms-transform: skew(-25deg);
	transform: skew(-25deg);
	letter-spacing: .1px
}

.dropdown-menu {
	top: 55px;
	left: 40px;
	transform: skewX(25deg);
	background: rgba(0, 0, 0, .8);
}

.dropdown-item {
	padding-left: 10px;
	margin-right: 20px;
	font-weight: 500;
	color: #fff;
	padding-top: 8px
}

.dropdown-menu * {
	transition: all .3s ease-in-out
}

.dropdown-item:hover {
	padding-left: 15px;
	background: #00C6FF;
	color: #fff;
}

.hours span {
	display: inline-block;
	margin-bottom: 5px;
	-webkit-transform: skewX(25deg);
	-ms-transform: skewX(25deg);
	transform: skewX(25deg)
}

@media (max-width: 1300px) {
	.hours {
		display: none
	}
	.navbar-nav {
		margin-right: 10px
	}
}

.navbar-toggler {
	margin-right: 15px
}

/*end navbar*/

/*start carousel*/

.carousel .overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 4;
	left: 0;
	background: rgba( 0, 0, 0, .5)
}

.carousel-caption {
	z-index: 5;
	top: 33%
}

.carousel-caption > span {
	display: inline-block;
	-webkit-transform: skewX(-30deg);
	-ms-transform: skewX(-30deg);
	transform: skewX(-30deg);
	border: 1px solid #fff;
	padding: 10px 50px;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: .5px
}

.carousel-caption > span:nth-of-type(2) {
	padding: 10px 150px
}

.carousel-caption > span > span {
	-webkit-transform: skewX(30deg);
	-ms-transform: skewX(30deg);
	transform: skewX(30deg);
	display: inline-block
}

.carousel-control-prev,
.carousel-control-next {
	z-index: 6
}

.carousel-indicators {
	bottom: 10%
}

.carousel:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10;
	border: solid;
	border-width: 0 0 200px 200px;
	border-color: transparent transparent #0f0f0f transparent
}

.carousel:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	border: solid;
	border-width: 0 200px 200px 0;
	border-color: transparent transparent #0f0f0f transparent
}

.carousel button {
	font-weight: 500;
	color: #fff;
	border: 1px solid transparent;
	background: #00C6FF;
	margin-top: 40px;
	padding: 5px 20px;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.carousel button:hover {
	background: transparent;
	border: 1px solid #fff
}

/*end carousel*/

/*statr spec*/

.spec {
	padding-top: 100px;
	padding-bottom: 100px;
	background: #0f0f0f
}

.spec h1 {
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 20px;
	font-size: 50px
}

.spec .sec div {
	background: #000;
	display: inline-block;
	padding-top: 5px;
	width: 60px;
	height: 60px;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	line-height: 60px;
	margin: 50px auto 15px
}

.spec .sec span {
	-webkit-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
	width: 50px;
}

.sec {
	padding-right: 10px;
	padding-left: 20px;
}

.sec:hover div {
	background: #00C6FF;
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotate(45deg);
	transform: rotateZ(45deg);
}

.sec:hover div > span {
	display: inline-block;
	-webkit-transform: rotateZ(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotateZ(-45deg);
	padding-left: 5px;
}

.sec h4 {
	margin: 15px auto;
	letter-spacing: 1px;
	-webkit-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out
}

.sec:hover h4 {
	color: #00C6FF
}

button {
	cursor: pointer;
}

.spec button {
	font-weight: 500;
	color: #fff;
	border: 1px solid #fff;
	background: transparent;
	margin-top: 40px;
	padding: 5px 20px;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.spec button:hover {
	background: #00C6FF;
	border: 1px solid #00C6FF
}

/*end spec*/

/*start classes*/

.classes * {
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.classes {
	padding-top: 100px;
	padding-bottom: 100px;
	background: #0a0a0a
}

.card .img {
	background: url(../imgs/classes/c1.jpg);
	background-position: center;
	background-size: 110% 110%;
	height: 200px;
	width: 100%;
	background-repeat: no-repeat
}

.card:hover .img {
	background-size: 100% 100%;
	opacity: .8
}

.classes .container .row .card:nth-child(3) .img {
	background-image: url(../imgs/classes/c2.jpg)
}

.classes .container .row .card:nth-child(4) .img {
	background-image: url(../imgs/classes/c3.jpg)
}

.classes .container .row .card:nth-child(5) .img {
	background-image: url(../imgs/classes/c4.jpg)
}

.classes h1 {
	letter-spacing: 2px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 20px;
	font-size: 50px
}

.classes .card {
	padding: 0 1%;
	background: transparent;
	margin-top: 50px
}

.card {
	border: none
}

.classes .card-title {
	letter-spacing: 1px
}

.classes .card-text {
	padding: 0 10px;
	font-size: 16px;
	text-align: center;
}

.card-text span {
	display: inline-block;
	margin-top: 8px
}

.classes .card-body {
	background: #0f0f0f;
}

.classes .card:hover .card-body {
	background: #000;
}

.classes .card-link {
	color: #00C6FF;
	font-weight: 500;
	display: block;
	border-top: 1px solid #000;
	background: #0f0f0f;
	padding-bottom: 15px;
	padding-top: 15px;
}

.classes .card:hover .card-link {
	background: #00C6FF;
	color: #fff
}

.classes button {
	font-weight: 500;
	color: #fff;
	border: 1px solid #fff;
	background: transparent;
	margin: 70px auto 0;
	padding: 10px 25px;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.classes button:hover {
	background: #00C6FF;
	border: 1px solid #00C6FF
}

/*end classes*/

/*start programs*/

.programs * {
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.programs {
	background-image: url(../imgs/par.jpg);
	background-attachment: fixed;
	background-clip: border-box;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	padding-top: 100px;
	padding-bottom: 100px;
}

.programs .overlay {
	top: 0;
	left: 0;
	height: 100%;
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, .8)
}

.programs h1 {
	letter-spacing: 2px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 20px;
	font-size: 50px;
	margin-bottom: 70px
}

body {
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

.programs .card {
	padding: 10px;
	background: transparent
}

.programs .card:hover .card-text span,
.programs .card:hover .icon {
	background: #00C6FF;
}

.programs .card:hover .card-body {
	background-color: #000;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05)
}

.programs .card:hover .card-title {
	color: #00C6FF
}

.programs .card-body {
	border: 0;
	border-radius: 15px;
	background: rgba(0, 0, 0, .7);
	padding: 20px 0;
}

.programs .card-title {
	letter-spacing: 1px;
	font-size: 40px;
	display: inline-block;
	margin: auto
}

.programs .icon {
	width: 50px;
	height: 50px;
	padding-top: 6px;
	display: inline-block;
	background: #444;
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotate(45deg);
	transform: rotateZ(45deg);
	margin: 10px auto 20px
}

.programs .icon span {
	font-size: 25px;
	display: inline-block;
	-webkit-transform: rotateZ(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotateZ(-45deg)
}

.programs .card-text {
	font-size: 16px;
	text-align: left;
	margin-left: 5%;
	padding: 0;
	list-style-type: none
}

.programs .card-text li {
	padding-top: 10px
}

.programs .card-text li span {
	background: #444;
	display: inline-block;
	border-radius: 50%;
	font-size: 10px;
	padding: 3px
}

.programs .price {
	font-size: 20px;
	color: #00C6FF;
	display: block;
	margin-bottom: 15px;
}

.programs .price span {
	font-size: 60px;
	display: inline-block;
}

.programs .price span sup {
	font-size: 20px
}

.programs .card-link {
	display: inline-block;
	padding: 8px 25px;
	font-weight: 500;
	color: #fff;
	margin: 20px auto;
	border: 1px solid #fff;
	background: transparent
}

.programs .card:hover .card-link {
	background: #00C6FF;
	color: #fff;
	border: 1px solid transparent
}

/*end programs*/

/*start partners*/

.partners * {
	transition: all .4s ease-in-out
}

.partners {
	background: #0f0f0f;
	padding: 80px 0 20px
}

.partners h1 {
	letter-spacing: 2px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 20px;
	font-size: 50px;
	margin-bottom: 50px
}

ul {
	list-style: none
}

.partners img {
	width: 80%;
	height: 80%
}

.partners img:hover {
	transform: scale(1.4);
}

/*end partners*/

/*start contact*/

.contact {
	background: #0f0f0f;
	padding: 80px 0
}

.contact li {
	transition: all .4s ease-in-out;
	width: 50px;
	height: 50px;
	padding-top: 3px;
	display: inline-block;
	padding-left: 2px;
	border: 1px solid #fff;
	transform: rotateZ(45deg);
	margin-left: 15px
}

.contact li span {
	font-size: 25px;
	display: inline-block;
	transform: rotateZ(-45deg);
	width: 100%;
	height: 100%;
}

.contact li a {
	color: #fff;
	width: 100%;
	height: 100%
}

.contact li:first-of-type:hover {
	background: #3B5998
}

.contact li:nth-of-type(2):hover {
	background: #00C6FF
}

.contact li:nth-of-type(3):hover {
	background: #ff0084
}

.contact li:nth-of-type(4):hover {
	background: #0077b5
}

.contact li:nth-of-type(5):hover {
	background: #CC181E
}

.contact li:nth-of-type(6):hover {
	background: #4ebbff
}

.contact li:last-of-type:hover {
	background: #d34836
}

/*end contact*/

/*start map*/

.map {
	overflow: hidden;
	position: relative;
	margin-bottom: 70px
}

iframe {
	width: 100%;
	height: 100%;
	position: relative
}

.marker {
	position: absolute;
	color: #00C6FF;
	top: 40%;
	left: 50%;
	font-size: 60px
}

.copy {
	border-top: 1px solid #a0a0a0;
	background: #0f0f0f;
	padding: 10px;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 18px;
}

/*end map*/

.col-11 {
	margin: auto
}

.carosuel span {
	width: 100%
}

@media(max-width:1225px) {
	.carousel-caption span:nth-of-type(2) {
		padding-left: 10%;
		padding-right: 10%;
	}
	@media(max-width:995px) {
		.carousel-caption span {
			padding-left: 3%;
			padding-right: 3%;
		}
		@media(max-width:885px) {
			.carousel-caption span:nth-of-type(1) {
				margin-bottom: 0
			}
			.carousel-caption span:nth-of-type(2) {
				display: none;
			}
			.carousel:after {
				border-width: 0 0 100px 100px;
				border-color: transparent transparent #0f0f0f transparent
			}
			.carousel:before {
				border-width: 0 100px 100px 0;
				border-color: transparent transparent #0f0f0f transparent
			}
		}
		@media (max-width:495px) {
			.carousel-caption {
				display: none
			}
			.carousel,
			.carousel-inner,
			.carousel img {
				height: 500px !important
			}
		}