body,
html,
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.row {
    justify-content: center;
}

section {
    padding: $vertical-padding-around-sections 0;
    text-align: center;
    background: #0f0f0f;
}
